@font-face {
	font-family: 'GothamPro';
	src: url('vendor/fonts/GothamPro.eot');
	src: url('vendor/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro.woff') format('woff'),
	url('vendor/fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url('vendor/fonts/GothamPro-Medium.eot');
	src: url('vendor/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro-Medium.woff') format('woff'),
	url('vendor/fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url('vendor/fonts/GothamPro-Bold.eot');
	src: url('vendor/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/GothamPro-Bold.woff') format('woff'),
	url('vendor/fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('vendor/fonts/Inter-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
	font-family: 'GothamPro', sans-serif;
	font-size: 14px;
	color: #222222;
	position: relative;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #CF0000;
}
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input::placeholder {
	font-size: 15px;
	text-align: left;
	color: #7A7A7E;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
.wrap {
    background: #F9F9F9;
}
.container, .header_container {
    margin: 0 auto;
    max-width: 1440px;
}
/* header */
.header_inner {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_logo {
    width: 94px;
}
.header_menu_inner {
    flex: 1;
}
.header_top_content {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
	position: relative;
}
.header_bottom_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.header_bottom_menu ul {
    display: flex;
    flex-direction: row;
}
.header_bottom_menu ul li {
    margin-right: 30px;
}
.header_bottom_menu ul li a {
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    color: #000;
    font-weight: 500;
}
.header_bottom_menu ul li a:hover {
    color: #CF0000;
}
.dropdown_menu {
	border: none;
	padding: 0;
	width: 200px;
}
.dropdown_menu ul {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.dropdown_menu ul li {
	border-bottom: 1px solid #E0E0E0;
	margin-right: 0;
}
.dropdown_menu ul li:last-child {
	border: none;
}
.dropdown_menu ul li a {
	padding: 18px 16px;
	display: flex;
	line-height: 15px;
}
.loop_inner {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.loop_inner img {
	width: 16px;
}
.loop_inner input[type=search] {
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 15px;
	color: #000;
	background-color: transparent;
	flex: 1;
	padding-left: 15px;
	font-weight: 500;
}
.border {
	display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    background: #CF0000;
    transform: scaleX(0);
    transition: transform 0.7s;
    transform-origin:  0% 50%;
}
.border.active {
	transform: scaleX(1);
}
.loop_inner input[type=search]::placeholder {
	font-weight: 500;
}
.header_top_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
}
.header_top_right span {
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.header_afisha {
    color: #CF0000;
    font-weight: 500;
	font-size: 16px;
}
.header_afisha:hover {
    color: #B50000;
}
.social_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.social_inner a {
	margin-left: 10px;
	display: flex;
}
.social_inner a:hover svg path {
	fill: #CF0000;
}
/* slide */
.slide_img {
	height: 420px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide_img img {
	width: 100%;
}
.slide_container {
	max-width: 1440px;
	margin: 0 auto;
	color: #fff;
	width: 100%;
}
.slide_block {
	width: 100%;
	overflow: hidden;
	height: 420px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.slide_block.slick-initialized {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.slide_text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
	padding-bottom: 50px;
	max-width: 631px;
}
.slide_text a {
	color: #fff;
	background: #CF0000;
	border-radius: 8px;
	padding: 10px 25px;
	font-weight: 500;
	width: 142px;
	text-align: center;
}
.slide_text a:hover {
	background: #B50000;
}
.slide_text h2 {
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	margin-top: 12px;
	margin-bottom: 10px;
	font-weight: 500;
}
.slide_text p {
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 22px;
	margin-top: 0;
}
.slide_date {
	font-size: 16px;
	line-height: 20px;
	color: #7E7E7E;
}
.arrow_left, .afisha_arrow_left, .media_arrow_left {
	width: 40px;
	height: 40px;
	display: flex!important;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 20px;
	top: 45%;
	background: #CF0000;
	border-radius: 50%;
	z-index: 11;
	padding-right: 3px;
}
.afisha_arrow_left.slick-disabled {
	display: none!important;
}
.arrow_left:hover, .arrow_right:hover {
	background: #B50000;
}
.arrow_right, .afisha_arrow_right, .media_arrow_right {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 20px;
	top: 45%;
	background: #CF0000;
	border-radius: 50%;
	z-index: 11;
	padding-left: 3px;
}
.slide_content {
	position: relative;
}
.slide_block .slick-dots {
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 200px;
	bottom: 50px;
}
.slide_block .slick-dots li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
}
.slide_block .slick-dots li button {
	background: #808080;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	text-indent: -10000px;
	cursor: pointer;
}
.slide_block .slick-dots li.slick-active button {
	background: #CF0000;
	border-radius: 50%;
	width: 12px;
	height: 12px;
}
/* title */
.title {
	display: flex;
	flex-direction: row;
	margin-top: 45px;
	margin-bottom: 30px;
}
.title h4 {
	font-size: 32px;
	line-height: 26px;
	font-weight: 500;
	color: #000000;
	margin: 0;
}
.title a {
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #CF0000;
	padding-top: 3px;
}
.title a:hover {
	color: #B50000;
}
.line {
	margin-left: 10px;
	margin-right: 10px;
	width: 1px;
	height: 32px;
	background: #BDBDBD;
}
/* afisha */
.afisha_container {
	max-width: 100%;
	overflow: hidden;
	height: 370px;
	position: relative;
}
.afisha_block {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 5px;
	width: 350px!important;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.afisha_img {
	height: 215px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.afisha_desc h3 {
	font-size: 18px;
	line-height: 32px;
	color: #000000;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 10px;
}
.afisha_slide {
	overflow: hidden;
	visibility: hidden;
	opacity: 1;
	transition: visibility 0s linear 300ms, opacity 300ms;
}
.afisha_slide.slick-initialized {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.afisha_slide .slick-list  {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
	overflow: visible;
}
.afisha_desc {
	padding: 16px 18px;
}
.afisha_desc a {
    background: #CF0000;
    border-radius: 8px;
    padding: 8px 16px;
    color: #fff;
    font-weight: 500;
    max-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.afisha_desc a:hover {
	background: #B50000;
}
.afisha_desc img {
	margin-right: 15px;
}
/* news */
.news_content {
	display: flex;
	flex-direction: row;
}
.news_big {
	width: 40%;
	padding-right: 9px;
}
.news_big_block {
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.news_big_img {
	border-bottom: 2px solid #CF0000;
}
.news_big_img img {
	width: 100%;
	height: 320px;
}
.news_big_date {
	font-size: 14px;
	line-height: 22px;
	color: #BDBDBD;
}
.news_big_desc {
    padding: 16px 18px;
	display: flex;
	flex-direction: column;
}
.news_big_desc a:hover h3 {
	color: #CF0000;
}
.news_big_desc h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
.news_big_desc_content {
	height: 110px;
}
.news_big_desc_content p {
	margin-top: 0;
}
.news_small {
	width: 60%;
	padding-left: 9px;
}
.news_small_block {
	display: flex;
	flex-direction: row;
	height: 170px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}
.news_small_desc {
	flex: 1;
	padding: 16px 18px;
}
.news_small_img {
	width: 170px;
}
.news_small_desc h3 {
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 8px;
	font-family: "GothamPro", sans-serif;
}
.news_small_desc a:hover h3 {
	color: #CF0000;
}
.news_small_img img {
	height: 100%;
}
.news_small_content, .news_big_desc_content {
	font-family: "Inter", sans-serif;
}
.news_small_content p {
	margin-top: 0;
	margin-bottom: 13px;
}
/* media */
.media_block {
    display: flex;
    flex-direction: column;
    width: 380px!important;
    height: 300px;
    position: relative;
    border-radius: 5px;
    justify-content: flex-end;
    margin-left: 8px;
    margin-right: 8px;
}
.media_img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.media_desc {
	display: flex;
	flex-direction: column;
	z-index: 11;
	color: #fff;
	padding: 16px;
}
.media_desc a {
	color: #fff;
	font-size: 12px;
	line-height: 11px;
	color: #FFFFFF;
	padding: 10px 25px;
	border: 1px solid #fff;
	border-radius: 8px;
	width: 111px;
}
.media_desc a:hover {
	background-color: #CF0000;
	border-color: transparent;
}
.media_slide {
	visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.media_slide.slick-initialized {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.media_container {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	background-color: #fff;
	padding-top: 24px;
	padding-bottom: 24px;
	height: 350px;
	overflow: hidden;
	position: relative;
}
.media_date {
	margin-bottom: 10px;
}
.media_title h3 {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-top: 10px;
}
.media_title h3 span {
	color: #A5A5A5;
}
/* banner */
.banner_inner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 440px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-top: 50px;
}
.banner_container {
	max-width: 980px;
	text-align: center;
}
.banner_title {
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
}
.banner_desc {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: "Inter", sans-serif;
}
/* advantages */
.advan_inner {
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 80px;
}
.advan_content {
	display: flex;
	flex-direction: row;
	margin-left: -50px;
	margin-right: -50px;
}
.advan_block {
	display: flex;
	flex-direction: row;
	width: 33.3333%;
	padding-left: 50px;
	padding-right: 50px;
}
.advan_img {
	width: 98px;
	height: 98px;
}
.advan_circle {
	width: 100%;
	height: 100%;
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.advan_desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
}
.advan_col {
	font-size: 48px;
	line-height: normal;
	display: flex;
	color: #CF0000;
	margin-top: 0;
	margin-bottom: 4px;
	font-weight: bold;
}
.advan_text {
	font-size: 18px;
	line-height: 26px;
	display: flex;
	font-weight: 500;
	color: #000000;
}
/* footer */
.footer {
	background-color: #222;
	color: #fff;
}
.footer_top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer_top_inner {
	border-bottom: 1px solid #3C3C3C;
}
.footer_adress {
	display: flex;
	flex-direction: row;
}
.footer_adress_img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 12px;
}
.footer_right {
	display: flex;
	flex-direction: row;
}
.footer_social {
	display: flex;
	flex-direction: row;
	padding-right: 30px;
}
.footer_social_img a {
	margin-left: 10px;
}
.footer_social_img a:hover svg path {
	fill: #CF0000;
}
.footer_bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 40px;
}
.footer_block {
	width: 16.6666%;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 80px;
}
.footer_block_title {
	color: #fff;
	margin-bottom: 16px;
	display: flex;
}
.footer_block ul li {
	margin-bottom: 16px;
}
.footer_block ul li a {
	color: #777777;
}
.footer_block ul li a:hover {
	color: #fff;
}
.copyright {
	padding-bottom: 50px;
}
.platforma {
	display: flex;
    justify-content: flex-end;
	font-size: 16px;
	padding-top: 15px;
}
.platforma a {
	color: #aaa;
}
.platforma a img {
	margin-left: 10px;
}
.header_mobile_menu, .afisha_mobile, .burger_mobile, .loop_inner_mobile {
	display: none;
}
@media (max-width: 1560px) {
	.advan_content {
		margin: 0;
	}
}
@media (max-width: 1440px) {
	.container, .slide_container, .afisha_slide .slick-list, .header_container {
		max-width: 1200px;
	}
	.header_top_right {
		width: 38%;
	}
	.advan_block {
		padding-left: 30px;
		padding-right: 30px;
	}
	.news_big, .news_small {
		width: 50%;
	}
	.news_small_desc {
		overflow: hidden;
	}
	.news_small_content p {
	    margin-top: 0;
	    margin-bottom: 10px;
	}
	.news_small_desc h3 {
		font-size: 15px;
	}
}
@media (max-width: 1280px) {
	.container, .slide_container, .afisha_slide .slick-list, .header_container {
		max-width: 1000px;
	}
	.news_small_content {
		display: none;
	}
	.news_big {
		width: 60%;
	}
	.news_small {
		width: 40%;
	}
	.news_small_desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header_top_right {
	    width: 45%;
	}
	.advan_block {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.advan_col {
		font-size: 45px;
	}
	.advan_text {
		font-size: 15px;
	}
	.footer_block {
	    width: 20%;
	}
}
@media (max-width: 1080px) {
	.container, .slide_container, .afisha_slide .slick-list, .header_container {
		max-width: 880px;
	}
	.header_menu_inner, .news_small_img {
		display: none;
	}
	.afisha_mobile {
		display: flex;
	}
	.burger_mobile {
	    width: 64px;
	    height: 64px;
	    background-color: #B20000;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    right: 0;
	}
	.news_small_desc {
		width: 100%;
	}
	.advan_col {
		font-size: 32px;
	}
	.header_logo {
	    width: auto;
	    padding-right: 25px;
	}
	.advan_img {
		width: 64px;
		height: 64px;
	}
	.slide_text p {
		font-size: 15px;
	}
	.slide_text h2 {
		font-size: 20px;
	}
	.title a {
		font-size: 16px;
	}
	.advan_circle {
		padding: 12px;
	}
	.title h4 {
		font-size: 24px;
	}
	.advan_text {
		font-size: 14px;
	}
	.burger_mobile_close {
	    width: 64px;
	    height: 64px;
	    background-color: #B20000;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    right: 0;
		top: 0;
	}
	.canvas_content {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}
	.position-top {
	    top: 0;
	    left: 0;
	    width: 100%;
	    overflow-x: auto;
	    height: 420px;
	    -webkit-transform: translateY(-420px);
	    -ms-transform: translateY(-420px);
	    transform: translateY(-420px);
	}
	.header_mobile_menu {
		display: flex;
		flex: 1;
	}
	.loop_inner_canvas {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;
		width: 380px;
		position: relative;
	}
	.loop_inner_canvas input[type=submit] {
		background-image: url(./img/canvas_right.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 28px;
		height: 28px;
		border: 1px solid #eee;
		border-radius: 50%;
		background-color: transparent;
		position: absolute;
		right: -35px;
	}
	.loop_inner_canvas input[type=submit]:hover {
		border-color: #B20000;
		cursor: pointer;
	}
	.loop_inner_canvas img {
	    width: 16px;
	}
	.loop_inner_canvas input[type=search] {
	    border: none;
	    outline: none;
	    font-size: 16px;
	    line-height: 15px;
	    color: #000;
	    background-color: transparent;
	    flex: 1;
	    padding-left: 15px;
	    font-weight: 500;
	}
	.header_mobile_menu ul {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.header_mobile_menu ul li {
		margin-right: 25px;
	}
	.header_mobile_menu ul li a {
		font-size: 16px;
		color: #333;
		font-weight: 500;
	}
	.header_mobile_menu ul li a:hover {
		color: #B50000;
	}
	.header_mobile_menu {
		justify-content: space-between;
	}
	.header_inner {
		padding: 0;
		justify-content: space-between;
	}
	.header_mobile_menu span {
		display: flex;
		align-items: center;
		color: #828282;
		font-size: 16px;
		padding-right: 30px;
	}
	.header_logo_img {
		width: 42px;
		height: 42px;
	}
	.header_logo {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.burger_mobile:hover {
		background-color: #B50000;
	}
	.canvas_menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.canvas_menu_block {
		width: 18%;
		padding-right: 10px;
	}
	.canvas_menu_block ul li a {
		font-size: 14px;
	}
	.canvas_menu_block ul li {
		margin-bottom: 16px;
	}
	.canvas_menu_block ul li a.canvas_menu_title {
		color: #4F4F4F;
		font-size: 16px;
		font-weight: 500;
	}
	.off-canvas {
		background-color: #fff;
		padding: 40px;
	}
}
@media (max-width: 970px) {
	.header_mobile_menu {
		display: none;
	}
	.container, .slide_container, .afisha_slide .slick-list, .banner_container {
		max-width: 768px;
	}
	.header_container {
		max-width: 100%;
	}
	.burger_mobile {
		position: relative;
	}
	.news_big_img img {
	    height: 245px;
	}
	.news_small_block {
		height: 145px;
	}
	.advan_img {
	    width: 48px;
	    height: 48px;
	}
	.advan_text {
	    font-size: 13px;
	}
	.footer_block {
		font-size: 14px;
	}
	.loop_inner_mobile {
		display: flex;
	}
	.loop_inner_mobile .search {
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  width: 50px;
	  height: 50px;
	  transition: all 1s;
	  z-index: 4;
	  border-left: 1px solid #eee;
	}
	.loop_inner_mobile .search:hover {
	  cursor: pointer;
	}
	.loop_inner_mobile .search::before {
	    content: "";
	    position: absolute;
	    margin: auto;
	    top: 7px;
	    right: 0;
	    bottom: 0;
	    left: 7px;
	    width: 7px;
	    height: 2px;
	    background: #B20000;
	    transform: rotate(45deg);
	    transition: all 0.5s;
}
	.loop_inner_mobile .search::after {
	    content: "";
	    position: absolute;
	    margin: auto;
	    top: -5px;
	    right: 0;
	    bottom: 0;
	    left: -3px;
	    width: 12px;
	    height: 12px;
	    border-radius: 50%;
	    border: 2px solid #B20000;
	    transition: all 0.5s;
	}
	.burger_mobile {
		width: 50px;
		height: 50px;
	}
	.header_logo_img {
		width: 32px;
		height: 32px;
	}
	.header_logo {
	    padding-top: 9px;
	    padding-bottom: 9px;
		padding-left: 15px;
	}
	.loop_inner_mobile input {
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  width: 50px;
	  height: 36px;
	  outline: none;
	  border: none;
	  color: #000;
	  transition: all 1s;
	  opacity: 0;
	  z-index: 5;
	  font-weight: bolder;
	  background-color: transparent;
	}
	.loop_inner_mobile input[type=search]::placeholder {
		color: #BDBDBD;
		font-weight: 400;
	}
	.loop_inner_mobile input:hover {
	  cursor: pointer;
	}
	.loop_inner_mobile input:focus {
	  width: 500px;
	  opacity: 1;
	  cursor: text;
	  border-bottom: 1px solid #E0E0E0;
	  right: 60px;
	}
	.burger_mobile_close {
		width: 50px;
		height: 50px;
	}
	.loop_inner_mobile input:focus ~ .search {
	  right: 0;
	  background: #B20000;
	  z-index: 6;
	}
	.loop_inner_mobile input:focus ~ .search::before {
	  top: 0;
	  left: 0;
	  width: 25px;
	  background: #fff;
	}
	.loop_inner_mobile input:focus ~ .search::after {
	  top: 0;
	  left: 0;
	  width: 25px;
	  height: 2px;
	  border: none;
	  background-color: #fff;
	  border-radius: 0%;
	  transform: rotate(-45deg);
	}
	.loop_inner_mobile input::placeholder {
	  color: white;
	  opacity: 0.5;
	  font-weight: bolder;
	}
	.header_inner {
	    justify-content: space-between;
	}
	.loop_inner_mobile {
	    display: flex;
		flex-direction: row;
	    flex: 1;
		position: relative;
	}
}
@media (max-width: 900px) {
	.container, .slide_container, .afisha_slide .slick-list, .banner_container {
		max-width: 640px;
	}
	.advan_col {
	    font-size: 28px;
	}
	.advan_circle {
		padding: 5px;
	}
}
@media (max-width: 780px) {
	.container, .slide_container, .afisha_slide .slick-list, .banner_container {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.arrow_left, .arrow_right {
		display: none!important;
	}
	.advan_content {
		flex-direction: column;
	}
	.advan_img {
		width: 64px;
		height: 64px;
	}

	.advan_desc {
		width: 240px;
	}
	.advan_block {
		width: 100%;
		margin-bottom: 15px;
		justify-content: center;
	}
	.news_content {
		flex-direction: column;
	}
	.news_big {
		width: 100%;
	}
	.news_small {
		width: 100%;
		padding: 0;
	}
	.news_big {
		margin-bottom: 12px;
		padding: 0;
	}
	.advan_text {
		font-size: 16px;
	}
	.news_small_block {
		margin-bottom: 12px;
	}
}
